################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebApp/.vs/WebApp/FileContentIndex/fe8f3328-286b-4469-a795-3b49b2f04962.vsidx
